/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

#searchField {
    display: inline;
    width: 30vw;
    height: 40px;
    border: none;
    border-radius: 10px 0px 0px 10px;
    padding-left: 15px;
    padding-bottom: 3px;
    position: fixed;
    top: 7px;
    left: 220px;
    margin-right: 0px;
    font-size: 14pt;
}
#searchBtn {
    display: inline;
    width: 40px;
    height: 40px;
    font-size: 20px;
    background-color: #292929;
    border-radius: 0px 10px 10px 0px;
    border-style: none;
    color: white;
    position: fixed;
    top: 7px;
    left: calc(220px + 30vw);
}

#dropdownMenuButton {
    display: inline;
    width: 42px;
    height: 42px;
    background-size: 39px 39px;
    margin-top: 6px;
    margin-right: 6px;
    float: right;
    z-index: -1;
    border-style: solid;
    background-color: #0377fc;
    border-radius: 5px;
}

.btn-secondary, .btn-secondary:hover {
    background-color: #292929;
}

.dropdownMenuItem {
    padding: 10px;
}

#dropdownMenu {
    background-color: #0377fc;
    position: fixed;
    z-index: 999;
    top: 48px;
    right: 100vw;
    width: 10vw;
    height: 30vh;
    z-index: 99;
}

#topLeftLogo {
    background-image: url("co-op-queue.png");
    background-repeat: no-repeat;
    background-size: 180px 45px;
    display: inline;
    width: 180px;
    color: #292929;
    height: 45px;
    text-decoration: none;
    margin-right: 25px;
    position:fixed;
    top: 7px;
    left: 16px;
    z-index: 6;
}

#topNavMenu {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 5;
    height: 55px;
    width: 100vw;
    background-color: #0377fc;
}

#leftNavMenu {
    position: fixed;
    display: inline-block;
    top: 55px;
    z-index: 5;
    width: 220px;
    height: calc(100vh - 55px);
    background-color: #292929;
}

.mainContent {
    display: inline-block;
    position: relative;
    width: calc(100vw - 220px);
    min-height: calc(100vh - 55px);
    left: 220px;
    top: 55px;
    background-color: #f3f3f3;
}

.leftNavMenuItem {
    display: block;
    width: 200px;
    height: 40px;
    padding-top: 3px;
    padding-bottom: 10px;
    padding-left: 15px;
    padding-right: 20px;
    margin: 10px 10px 0px 10px;
    font-size: 16pt;
    text-align: left;
    text-decoration: none;
    color: white;
    background-color: #292929;
    border: 1px solid #292929;
}

    .leftNavMenuItem:hover {
        border: 1px solid white;
        background-color: #0377fc;
        color: white;
    }

/*Newsfeed Page*/
#filtersBtn {
    position: fixed;
    top: 75px;
    right: 140px;
    height: 30px;
    width: 80px;
    color: #292929;
    border: 1px solid gray;
    text-align: center;
    padding-top: 3px;
    background-color: ButtonFace;
    cursor: pointer;
    font-size: 15px;
}

.filtersScreen {
    display: none;
    position: fixed;
    z-index: 7;
    top: 105px;
    right: 140px;
    height: 300px;
    width: 450px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 10px;
    padding-top: 10px;
    border: 1px solid #bfbfbf;
    border-radius: 5px 0px 5px 5px;
    background-color: white;
}

.filtersScreenHeaders{

}

#filterItems{
    
}

#sortBtn {
    position: fixed;
    top: 75px;
    right: 40px;
    height: 30px;
    width: 90px;
    color: #292929;
    border: 1px solid gray;
    text-align: center;
    padding-top: 3px;
    background-color: ButtonFace;
    cursor: pointer;
    font-size: 15px;
}

#sortDrop {
    float: right;
    display: inline-block;
}

/*Messages and Message Threads*/
.messageThreadPreview {
    width: calc(100vw - 220px);
    position: relative;
    height: 80px;
    background-color: lightgray;
    border-bottom: 1px solid #292929;
    text-decoration: none;
}

    .messageThreadPreview:hover, .messageThreadPreview:active {
        background-color: #f5f5f5;
        text-decoration: none;
    }

    a:hover {
        text-decoration: none;
    }

.profilePictureThumbnail {
    /*background-image: url("Rick.png");*/
    background-size: 60px 60px;
    display: inline-block;
    height: 60px;
    width: 60px;
    margin: 10px;
    background-color: gray;
    border: 1px solid black;
    color: black;
    text-decoration: none;
}

.nameAndTextPreview {
    position: relative;
    vertical-align: text-bottom;
    margin-bottom: 15px;
    display: inline-block;
    text-decoration: none;
}

.userNameThreadPreview {
    font-size: 18pt;
    color: black;
    text-decoration: none;
}

.textThreadPreview {
    color: black;
    text-decoration: none;
}

.messagesSection {
    display: block;
    position: fixed;
    top: 75px;
    left: 240px;
    width: calc(100vw - 270px);
    height: calc(100vh - 155px);
    background-color: lightgray;
}

.typingMessageSection {
    display: block;
}

#sendMessageButton {
    display: inline-block;
    position: fixed;
    top: calc(100vh - 55px);
    right: 20px;
    height: 35px;
    width: 55px;
    margin-right: 10px;
    margin-bottom: 20px;
    color: white;
    background-color: #292929;
    border: none;
    border-radius: 0px 5px 5px 0px;
}

#sendMessageField {
    display: inline-block;
    height: 35px;
    margin-left: 20px;
    margin-bottom: 10px;
    width: calc(100vw - 290px);
    position: fixed;
    top: calc(100vh - 55px);
    border: none;
    border-radius: 5px 0px 0px 5px;
    padding-left: 10px;
}

.newMessageLine {
    margin-top: 5px;
    display: block;
    width: calc(100vw - 270px);
    height: 35px;
}

.messageFromFriend {
    display: inline-block;
    float: left;
    margin-left: 10px;
    color: white;
    background-color: gray;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 10px;
    max-width: 30vw;
}

.messageFromUser {
    display: inline-block;
    float: right;
    margin-right: 10px;
    color: white;
    background-color: #0377fc;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 10px;
    max-width: 30vw;
}

.dateStamp {
    margin-top: 5px;
    margin-bottom: 20px;
    display: block;
    width: calc(100vw - 270px);
    height: 35px;
    text-align: center;
}

.messageDate {
    margin: 5px;
    display: inline-block;
    color: #292929;
}

.dateLines {
    margin-left: auto;
    margin-right: auto;
    height: 2px;
    background-color: #292929;
    border: none;
    width: 70vw;
}

.userPhotoByMessage {
    display: inline-block;
    float: right;
    margin-left: 5px;
    height: 35px;
    width: 35px;
    border-radius: 17px;
    border: 1px solid #292929;
    background-image: url("squanchy.jpg");
    background-size: 35px 35px;
}

.friendPhotoByMessage {
    display: inline-block;
    float: left;
    margin-left: 5px;
    height: 35px;
    width: 35px;
    border-radius: 17px;
    border: 1px solid #292929;
    background-image: url("Rick.png");
    background-size: 35px 35px;
}



/*Friends Page*/
.divideLine {
    height: 1px;
    background-color: black;
    width: calc(100vw - 290px);
}

.friendCard {
    display: inline-block;
    width: 200px;
    height: 230px;
    background-color: white;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-right: 20px;
    border-radius: 10px;
}

.cardPhoto {
    margin: 0;
    width: 200px;
    height: 200px;
    border-radius: 10px 10px 0px 0px;
    /*background-image: url("Rick.png");*/
    background-size: 200px 200px;
}

.cardName {
    text-align: center;
    vertical-align: middle;
    font-size: 12pt;
    padding: 3px;
    text-decoration: none;
    color:black;
}

    .cardName:hover {
        text-decoration: none;
        color: black;
    }

/*Likes Page*/
.likesCard {
    display: inline-block;
    width: 200px;
    height: 230px;
    background-color: white;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-right: 20px;
    border-radius: 10px;
}

.likesCardPhoto {
    margin: 0;
    width: 200px;
    height: 200px;
    border-radius: 10px 10px 0px 0px;
    background-image: url("cod-mw.jpg");
    background-size: 200px 200px;
}

.likesCardName {
    text-align: center;
    font-size: 10pt;
    padding: 3px;
    text-decoration: none;
    color: black;
}

    .likesCardName:hover {
        text-decoration: none;
        color: black;
    }



/*Profile Page*/
#profilePageTop {
    position: relative;
    width: calc(100vw - 220px);
    height: 38vh;
}

.profileHeader {
    position: relative;
    z-index: 1;
    width: calc(100vw - 220px);
    height: 30vh;
    background-color: #373737;
}

#bioCard {
    position: fixed;
    z-index: 2;
    top: 15vh;
    left: 38vh;
    right: 20vh;
    height: 300px;
}

#topOfBioCard {
    width: 100%;
    height: 30%;
    border-radius: 10px 10px 0 0;
    background: linear-gradient(to left, #00ffc8, #00a1ff);
    border-top: 6px solid white;
    border-left: 6px solid white;
    border-right: 6px solid white;
    text-align: center;
}

#bottomOfBioCard {
    width: 100%;
    height: 70%;
    border-radius: 0 0 10px 10px;
    background-color: white;
    border-bottom: 6px solid white;
    border-left: 6px solid white;
    border-right: 6px solid white;
}

img#profilePhoto {
    position: fixed;
    z-index: 3;
    top: 10vh;
    left: 40.5vh;
    width: 20vh;
    height: 20vh;
    background-color: black;
    border-radius: 10px;
    border: 6px solid white;
}

#online {
    display: block;
    background-color: #07dc12;
}

#onlineCircle {
    display: inherit;
    position: fixed;
    z-index: 5;
    top: 27.25vh;
    left: 40vh;
    width: 3vh;
    height: 3vh;
    background-color: inherit;
    border-radius: 1.5vh;
    color: white;
    padding-left: 18px;
    padding-bottom: 4px;
    padding-top: 10px;
    font-size: 30px;
}

#onlineCircleOpacity {
    display: inherit;
    position: fixed;
    z-index: 4;
    top: 26.61vh;
    left: 39.37vh;
    width: 4.25vh;
    height: 4.25vh;
    background-color: inherit;
    border-radius: 2.125vh;
    opacity: .5;
}

.userName {
    color: white;
    font-size: 40px;
    margin-top: 13px;
}

#bottomLeft {
    width: 30%;
    height: 100%;
    display: inline-block;
    vertical-align: top;
}

#bottomRight {
    width: 69.5%;
    height: 100%;
    display: inline-block;
    vertical-align: top;
}

#editProfileBtn {
    margin-left: 8.5vh;
    margin-top: 9.5vh;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 17px;
    color: white;
    background-color: #0377fc;
    border: none;
    border-radius: 5px;
}

.profilePageContent {
    padding-left: 20px;
    padding-right: 20px;
}

#bioHeader {
    padding-top: 10px;
    padding-left: 10px;
    font-size: 18px;
    font-weight: 700;
}

.userBio {
    padding-right: 20px;
    padding-left: 10px;
    font-weight: 600;
}