/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
  white-space: normal;
  margin-left: 10px;
  text-align: left;
  word-break: break-all;
}

#searchField {
    display: inline;
    width: 30vw;
    height: 40px;
    margin-left: 2vw;
    border-radius: 5px;
    padding-left: 10px;
    float: left;
    margin-top: 7px;
}

#searchButton {
    display: inline;
    width: 42px;
    height: 42px;
    margin-left: 5px;
    border-radius: 5px;
    background-color: #0377fc;
    background-image: url("search-white-thicker.png");
    background-size: 37px 37px;
    object-fit: contain;
    border-style: solid;
    color: white;
    margin-top: 6px;
}

#dropdownMenu {
    background-image: url("menu.png");
    display: inline;
    width: 42px;
    height: 42px;
    background-size: 39px 39px;
    margin-top: 6px;
    margin-right: 6px;
    float: right;
    z-index: -1;
    border-style: solid;
    background-color: #0377fc;
    border-radius: 5px;
}

#topLeftLogo {
    display: inline;
    background-image: url("co-op-queue.png");
    width: 180px;
    height: 45px;
    background-size: 180px 45px;
    margin-right: 10px;
    margin-top: 6px;
    float: left;
}

#topNavMenu {
    position: relative;
    top: 0;
    left: 0;
    height: 55px;
    border-bottom: solid 1px;
    border-bottom-color: cornflowerblue;
}

#leftNavMenu {
    display: inline-block;
    width: 210px;
    height: 100vh;
    background-color: #0377fc;
}

.mainContent {
    display: inline-block;
    padding: 20px;
}

.leftNavMenuItem {
    display: inline-block;
    width: 200px;
    height: 40px;
    padding-top: 5px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 20px;
    margin: 5px;
    font-size: 16pt;
    text-align: left;
    text-decoration: none;
    color: white;
    background-color: #0377fc;
}

    .leftNavMenuItem:hover {
        background-color: white;
        color: #0377fc;
    }

#belowTopNavMenu{
    display: inline-block;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 20px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  /* Set the fixed height of the footer here */
  height: 20px;
  line-height: 40px; /* Vertically center the text there */
}
