/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

#searchField {
    display: inline;
    width: 30vw;
    height: 40px;
    border-radius: 5px;
    padding-left: 10px;
    float: left;
    margin-top: 7px;
    font-size: 16pt;
}
#searchBtn {
    display: inline;
    width: 42px;
    height: 42px;
    font-size: 20px;
    margin-left: 5px;
    border-radius: 5px;
    background-color: #0377fc;
    border-style: solid;
    color: white;
    margin-top: 6px;
}

#dropdownMenuButton {
    display: inline;
    width: 42px;
    height: 42px;
    background-size: 39px 39px;
    margin-top: 6px;
    margin-right: 6px;
    float: right;
    z-index: -1;
    border-style: solid;
    background-color: #0377fc;
    border-radius: 5px;
}

.btn-secondary, .btn-secondary:hover {
    background-color: #0377fc;
}

.dropdownMenuItem {
    padding: 10px;
}

#dropdownMenu {
    background-color: #0377fc;
    position: fixed;
    z-index: 999;
    top: 48px;
    right: 100vw;
    width: 10vw;
    height: 30vh;
    z-index: 99;
}

#topLeftLogo {
    display: inline;
    width: 180px;
    color: #0377fc;
    height: 45px;
    font-size: 35px;
    font-family: Arial, Helvetica, sans-serif;
    font-stretch: extra-condensed;
    text-decoration: none;
    margin-right: 18px;
    margin-top: 0px;
    margin-left: 22px;
    float: left;
}

#topNavMenu {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 5;
    height: 55px;
    width: 100vw;
    border-bottom: solid 1px;
    border-bottom-color: cornflowerblue;
    background-color: white;
}

#leftNavMenu {
    position: fixed;
    display: inline-block;
    top: 55px;
    z-index: 5;
    width: 220px;
    height: calc(100vh - 55px);
    background-color: #0377fc;
}

.mainContent {
    display: inline-block;
    position: relative;
    width: calc(100vw - 240px);
    height: calc(100vh - 55px);
    left: 220px;
    top: 55px;
}

.leftNavMenuItem {
    display: block;
    width: 200px;
    height: 40px;
    padding-top: 3px;
    padding-bottom: 10px;
    padding-left: 15px;
    padding-right: 20px;
    margin: 10px 10px 0px 10px;
    font-size: 16pt;
    text-align: left;
    text-decoration: none;
    color: white;
    background-color: #0377fc;
    border: 1px solid #0377fc;
}

    .leftNavMenuItem:hover {
        border: 1px solid white;
        background-color: #0377fc;
        color: white;
    }

/*Messages and Message Threads*/
.messageThreadPreview {
    width: calc(100vw - 240px);
    position: relative;
    height: 80px;
    background-color: white;
    text-decoration: none;
}

    .messageThreadPreview:hover, .messageThreadPreview:active {
        background-color: #f5f5f5;
        text-decoration: none;
    }

    a:hover {
        text-decoration: none;
    }

.profilePictureThumbnail {
    display: inline-block;
    height: 60px;
    width: 60px;
    margin: 10px;
    background-color: gray;
    color: black;
    text-align: center;
    font-size: 2.5rem;
    text-decoration: none;
}

.nameAndTextPreview {
    display: inline-block;
    text-decoration: none;
}

.userNameThreadPreview {
    display: block;
    font-size: 18pt;
    color: black;
    text-decoration: none;
}

.textThreadPreview {
    display: block;
    color: gray;
    text-decoration: none;
}

.messagesSection {
    display: block;
    position: fixed;
    top: 75px;
    left: 240px;
    width: calc(100vw - 270px);
    height: calc(100vh - 155px);
    background-color: white;
}

.typingMessageSection {
    display: block;
}

#sendMessageButton {
    display: inline-block;
    position: fixed;
    top: calc(100vh - 55px);
    right: 20px;
    height: 35px;
    width: 55px;
    margin-right: 10px;
    margin-bottom: 20px;
    color: white;
    background-color: #0377fc;
    border: none;
    border-radius: 0px 5px 5px 0px;
}

#sendMessageField {
    display: inline-block;
    height: 35px;
    margin-left: 20px;
    margin-bottom: 10px;
    width: calc(100vw - 290px);
    position: fixed;
    top: calc(100vh - 55px);
    border: 1px solid #0377fc;
    border-radius: 5px 0px 0px 5px;
    padding-left: 10px;
}

.newMessageLine {
    margin-top: 5px;
    display: block;
    width: calc(100vw - 270px);
    height: 35px;
}

.messageFromFriend {
    display: block;
    float: left;
    margin-left: 10px;
    color: white;
    background-color: gray;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 10px;
    max-width: 30vw;
}

.messageFromUser {
    display: block;
    float: right;
    margin-right: 10px;
    color: white;
    background-color: #0377fc;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 10px;
    max-width: 30vw;
}


























/* Sticky footer styles
-------------------------------------------------- */
html {
    font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 20px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  /* Set the fixed height of the footer here */
  height: 20px;
  line-height: 40px; /* Vertically center the text there */
}
