<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Co-op Queue</title>
    <script src="https://kit.fontawesome.com/68e8903aea.js" crossorigin="anonymous"></script>

    <environment include="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute"
              crossorigin="anonymous"
              integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" />
    </environment>
    <link rel="stylesheet" href="~/css/site.css" />

</head>
<body>
    <header>
        <div id="topNavMenu">
            <a id="topLeftLogo" asp-area="" asp-controller="Home" asp-action="Index"></a>
            <input id="searchField" type="text" name="searchText" placeholder="Search..." />
            <button id="searchBtn"><i class="fas fa-search"></i></button>
            <div class="btn-group">
                <button type="button" class="btn btn-secondary" data-toggle="dropdown" style="border:none ; border-radius: 3px; position: fixed; top: 9px; right: 10px; height: 38px; width: 38px;">
                    <i class="fas fa-bars"></i>
                </button>
                <div class="dropdown-menu dropdown-menu-right">
                    <a asp-controller="Home" asp-action="Settings"><button class="dropdown-item" type="button">Settings</button></a>
                    <a asp-controller="Home" asp-action="Preferences"><button class="dropdown-item" type="button">Preferences</button></a>
                    <div class="dropdown-divider"></div>
                    @if (User.Identity.IsAuthenticated)
                    {
                        <a asp-controller="Home" asp-action="Logout" class="dropdown-item" style="color: red;">Logout</a>
                    }
                    else
                    {
                        <a asp-controller="Home" asp-action="Login" class="dropdown-item" style="color: cornflowerblue;">Login</a>
                        <a asp-controller="Home" asp-action="Register" class="dropdown-item">Register</a>
                    }
                </div>
            </div>

        </div>
    </header>
    <div>
        <div id="leftNavMenu">
            <a asp-controller="Home" asp-action="Index"><div class="leftNavMenuItem">Newsfeed</div></a>
            <a asp-controller="Home" asp-action="Profile"><div class="leftNavMenuItem">Profile</div></a>
            <a asp-controller="Home" asp-action="Friends"><div class="leftNavMenuItem">Friends</div></a>
            <a asp-controller="Home" asp-action="Likes"><div class="leftNavMenuItem">Likes</div></a>
            <a asp-controller="Home" asp-action="Messages"><div class="leftNavMenuItem">Messages</div></a>
        </div>

        <div class="mainContent">
            @RenderBody()
        </div>
    </div>

    <div id="dropdownMenu"></div>

    <environment include="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.js"></script>
    </environment>
    <environment exclude="Development">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=">
        </script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                crossorigin="anonymous"
                integrity="sha384-xrRywqdh3PHs8keKZN+8zzc5TX0GRTLCcmivcbNJWm2rs5C8PRhcEn3czEjhAO9o">
        </script>
    </environment>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @RenderSection("Scripts", required: false)
</body>
</html>
