@using CoQ.Models.Models;
@model List<FriendshipModel>

<div style="padding: 20px;">
    <h1>Friends (@Model.Count)</h1>
    <div class="divideLine"></div>
    @foreach (FriendshipModel friend in Model)
    {
        <a onclick="location.href = '@Url.Action("UserDetails", "Home", new { UserID = friend.OtherFriendID})'">
            <div class="friendCard">
                <img class="cardPhoto" src="~/images/@friend.FriendImageName" />
                <div class="cardName">@friend.FriendName</div>
            </div>
        </a>
    }
</div>