@{
    ViewData["Title"] = "Friends Page";
}

<div  style="padding: 20px;">
    <h1>Friends (1)</h1>
    <div class="divideLine"></div>
    <a asp-controller="Home" asp-action="Profile">
        <div class="friendCard">
            <img class="cardPhoto" resource="" />
            <div class="cardName">Rick Sanchez</div>
        </div>
    </a>
</div>