@using CoQ.Models.Models;
@model List<FriendshipModel>

<div style="padding: 20px;">
    <h1>Friends (@Model.Count)</h1>
    <div class="divideLine"></div>
    @foreach (FriendshipModel friend in Model)
    {
        <a asp-controller="Home" asp-action="Profile">
            <div class="friendCard">
                <img class="cardPhoto" resource="" />
                <div class="cardName">@friend.FriendName</div>
            </div>
        </a>
    }
</div>