@using CoQ.Models.Models;
@model GameModel

<div>
    <div id="profilePageTop">

        <div class="profileHeader"></div>

        <div id="bioCard">
            <div id="topOfBioCard">
                <img src="~/images/@Model.ImageName" alt="@Model.GameName Image" id="profilePhoto">
                <div class="userName"><b>@Model.GameName</b></div>
            </div>
            <div id="bottomOfBioCard">
                <div id="bottomRight" style="margin-top: 5%;">
                    <div id="bioHeader">About @Model.GameName:</div>
                    <div class="userBio">
                        <div>System: @Model.System</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>