@{
    ViewData["Title"] = "Home Page";
}

    <div style="padding: 20px;">
        <h1>Welcome</h1>
        <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    </div>
