@using CoQ.Models.Models;
@model List<LikedGameModel>

    <div style="padding: 20px;">
        <h1>Likes (@Model.Count)</h1>
        <div class="divideLine"></div>

        @foreach (LikedGameModel game in Model)
        {
            <a onclick="location.href = '@Url.Action("GameDetails", "Home", new { GameID =  game.GameID})'">
                <div class="likesCard" id="@game.GameID">
                    <img class="likesCardPhoto" src="~/images/@game.ImageName" />
                    <div class="likesCardName">@game.GameName</div>
                </div>
            </a>
        }

    </div>