<div id="loginPage">
    <h1>Login here!</h1>

    <form id="loginForm" action='@Url.Action("ConfirmLogin", "Home")'>
        <div id="usernameLbl"></div>
        <input type="text" id="enteredUserName" name="enteredUserName" placeholder="Username" />
        <br />

        <div id="passwordLbl"></div>
        <input type="password" id="enteredPassword" name="enteredPassword" placeholder="Password" />
        <br />
        <button type="submit" id="loginBtn">Login</button>
    </form>
</div>
