@{
    ViewData["Title"] = "Message Thread Page";
}

<div>
    <div class="messagesSection">
        <div class="newMessageLine">
            <div class="messageFromFriend">
                You excited for Left for Dead 3?
            </div>
        </div>

        <div class="newMessageLine">
            <div class="messageFromUser">
                Hell yes! You kidding?? lol
            </div>
        </div>

        <div class="newMessageLine">
            <div class="messageFromUser">
                Hey! Have you seen the trailer the new Call of Duty? Looks pretty sick right? wanna play?
            </div>
        </div>
    </div>

    <div class="typingMessageSection">
        <input id="sendMessageField" />
        <button id="sendMessageButton"><i class="fas fa-paper-plane"></i></button>
    </div>
</div>