@{
    ViewData["Title"] = "Profile Page";
}

<div>
    <div>
        <div class="profileHeader"></div>
        <div class="profilePhoto"></div>
        <div class="userName"><b>Squanchy Squanch</b></div>
        <div class="userBio">
            I play a lot of squanching video games. Seriously, a squanching lot. <br />
            I don't take any squanch but I'm always down for a good squanch. So hit me up if you're tryna squanch.
        </div>
        <button id="editProfileButton">Edit Profile</button>

        <div class="profilePageContent">
            <div class="profileLikesSection" style="padding-left: 10px;">
                <h3>Likes (1)</h3>
                <div class="divideLine"></div>
                <div class="likesCard">
                    <img class="likesCardPhoto" resource="" />
                    <div class="likesCardName">Call of Duty: Modern Warefare</div>
                </div>
                <a>
                    <div class="likesCard">
                        <img class="likesCardPhoto" src="~/css/halo.jpg" />
                        <div class="likesCardName">Halo</div>
                    </div>
                </a>
                <a>
                    <div class="likesCard">
                        <img class="likesCardPhoto" src="~/css/7daystodie.jpg" />
                        <div class="likesCardName">7 Days to Die</div>
                    </div>
                </a>
                <a>
                    <div class="likesCard">
                        <img class="likesCardPhoto" src="~/css/rainbow6.jpg" />
                        <div class="likesCardName">Rainbow6: Siege</div>
                    </div>
                </a>
                <a>
                    <div class="likesCard">
                        <img class="likesCardPhoto" src="~/css/subnautica.png" />
                        <div class="likesCardName">Subnautica</div>
                    </div>
                </a>
            </div>

            <div class="profileFriendSection" style="padding-left: 10px;">
                <h3>Friends (1)</h3>
                <div class="divideLine"></div>
                <div class="friendCard">
                    <img class="cardPhoto" resource="" />
                    <div class="cardName">Rick Sanchez</div>
                </div>
            </div>
            <div class="likesThumbnails"></div>
        </div>
    </div>
</div>