@{
    ViewData["Title"] = "Profile Page";
}

<div>
    <div>
        <div class="profileHeader"></div>
        <div class="profilePhoto"></div>
        <div class="userName"><b>Squanchy Squanch</b></div>
        <div class="userBio"></div>
        <div class="friendCard"></div>
        <div class="likesThumbnails"></div>
    </div>
</div>