<script src="~/js/dropzone.js"></script>
<link rel="stylesheet" href="~/css/dropzone.css">

<form action="@Url.Action("UploadFile", "Home")"
      class="dropzone"
      id="profilePicUploader"></form>

<script>
    Dropzone.options.profilePicUploader = {
        url: "@Url.Action("UploadFile", "Home")",
        acceptedFiles: "image/*"
    }
</script>